{% extends 'base.html' %}
{% block content %}
<div class="paste-container">
    <h1 class="paste-title">QuickPaste</h1>

<!--    <textarea class="paste-textarea" placeholder="Вставьте ваш текст здесь..."></textarea>-->

    <div class="paste-actions">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.content }}
            {{ form.photo }}
            {{ form.time_life }}
            {{ form.publicity.label }} {{ form.publicity }}

            <div class="text-type-selector">
                {{ form.language }}
                <span class="select-arrow">▼</span>
            </div>

            <button type="submit" class="btn">Сохранить</button>
        </form>

    </div>
</div>
{% endblock %}